/*#region main*/
:root{
    font-family: Arial;
    --vit: #FFFFFF;
    --svart: #14342B;
    --ljusgra:#E5E7E5;
    --morkgra: #677967;
    --primar: #548052;
    --sekundar: #BBDFC5;
    --danger: #805252;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display:flex;
    background-color: var(--primar);
    color: var(--vit);
    padding:5px;
    padding-top: 15px;
    align-content: center;
}

header > p {
    margin-left: 100px;
}

body{
    background-color: var(--ljusgra);
    justify-items: center;
}

.mainbody{
    padding: 30px 100px 30px 100px;
    display:flex;
    align-items: stretch;
}


nav{
    padding-top: 25px;
    height: 100%;
    min-width: 200px;
    width: 100%;
}

#firstLink
{
    margin-top: 45px;
}

.sidemenu{
    background-color: var(--primar);
}

.sidemenu a {
    color: black;
    text-decoration: none;

}

.sidemenu p {
    background-color: white;
    margin-left: 30px;
    padding: 10px;
    padding-left: 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    
}


.outlet{
    min-width: 600px;
    max-width: 600px;
    background-color: white;
}

footer{
    background-color: var(--svart);
    color: var(--svart);
    padding: 20px;
}
/*#endregion main*/
.articles , .authors , .images{
    display: flex;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
   
}

.Articlelist, .Authorlist ,.images a{
    display: block;
    padding: 15px;
}

.articles h1, .authors h1, .images h1{
    border-bottom: solid;
    border-color: var(--primar);
    width: 100%;
}


.articles div:nth-child(odd) ,.authors div:nth-child(odd) {
    background-color: var(--ljusgra);
}

#createarticlebutton , #createauthorbutton, #createimagebutton{
    position: absolute;
    top: 105px;
    left: 800px;
   
}

.button{
    background-color: var(--primar);
    color: var(--vit);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}

.button:hover{
    background-color: var(--sekundar);
}

.button:focus{
    border: solid black;
}

/*#region images*/

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px;
    min-width: 200px;
    width: 100%;
}

#lableimg{
    margin-right: 20px;
    margin-left: 20px;
}
.images input{
    margin-left: 40px;
}

#uploadImg{
    margin: 20px;
    width: 300px;
}

.Authorlist ,.Articlelist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.Authorlist > * ,.Articlelist > *{
    
    justify-content:center;
    align-self: center;
}

.Authorlist > p ,.Articlelist > p{
    width: 80%;
    padding-top: 20px;
    font-weight: bold;

}

.editbutton {
    border-radius: 10px;
    float:right;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color:#548052
}

.deletebutton{
    border-radius: 10px;
    margin-right: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color:#548052
}
.button a {
    color: var(--vit);
    text-decoration: none;
}


/*#endregion images*/