@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<header>
     <h3>Blåatoppens dagblad</h3>   
</header>

<footer>
    <div class="footerobj" id="footer1">
    <h3>Blåatoppens dagblad</h3>
    <p>Bettorpsgatan 10</p>
    <p>703 69 Örebro</p>
    </div>
    <div id="footer2" class="footerobj">
        <h3>Om oss</h3>
        <p>There was nothing in the office but at couple of wooden chais and a deal table,
            behind which sat a small man with a head that was eaven redder than mine.
            He said a few words to each candidate as he came up, and then he always managed
            to find som fault in them which would disquality them.
        </p>
    </div>
</footer>